//TO DO

//Display about image at ?px breakpoint

@media only screen and (min-width: 400px) {
  .slide {
    height: 531px;
    h1 {
      font-size: 48px;
    }
    h3 {
      font-size: 20px;
      color: white;
    }
  }
  // .info_container{
  // }
  .container_three {
    flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  header {
    height: 110px;
    .navbarhead {
      width: 95%;
      height: 110px;
      .navbar {
        height: 70px;
        .nm-logo {
          height: 60px;
          //width: 375px;
          img {
            height: 60px;
            width: 345px;
          }
        }
        .phone_button {
          display: none;
        }
        .searching {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
        }
        //styling for when the search is just a button
        .search_btn {
          display: block;
          align-items: center;
          text-align: center;
          height: 56px;
          width: 63px;
          background: #999aa2;
          justify-content: center;
          border-radius: 0 4px 4px 0;
          i {
            font-size: 24px;
            line-height: 56px;
            color: #ffffff;
          }
          &:hover {
            background: #84858f;
          }
        }
        .burger_button {
          width: 63px;
          height: 56px;
          margin-left: 20px;
        }
        .burger_button_container {
          margin: 0;
        }
      }
      .search_mobile {
        display: none;
      }
    }
  }
  .slide_container {
    height: 796px;
    .slide {
      height: 797px;
      .slide_inner {
        margin: 0 auto;
        img {
          width: 768px;
        }
      }
    }
  }
  .about {
    height: 493px;
    .about_inner {
      width: 750px;
      height: 493px;
      padding: 50px 15px;
      margin: auto;
    }
  }

  // .latest_news {
  //   width: 720px;
  //   padding: 0 15px;
  //   margin: 0 auto;
  // }

  .news_container {
    flex-direction: row;
    justify-content: space-between;
    .news_one,
    .news_two {
      width: 45%;
      height: 569px;
    }
    .news_three {
      display: none;
    }
  }

  .clientele {
    display: block;
  }
  .footer_shell_outer {
    width: 100%;
    height: 528px;
    .footer_shell_inner {
      margin: auto;
      width: 750px;
      height: 438px;
      flex-direction: row;
      flex-wrap: wrap;
      .contact_us,
      .about_netmatters,
      .website_info,
      .social_media {
        width: 50%;
      }
    }
  }
  .partners_out {
    display: block;
  }

  //service cards

  .info_container {
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 !important;
  }

  .info_telecoms,
  .info_web,
  .info_cyber,
  .info_developer {
    width: 343px !important;
  }
  .info_telecoms,
  .info_cyber {
    margin-right: 15px;
  }
  .info_web,
  .info_developer {
    margin-left: 15px;
  }
}

@media only screen and (min-width: 992px) {
  header {
    height: 110px;
    .navbarhead {
      width: 975px;
      height: 110px;
      .navbar {
        height: 70px;
        margin: 0;
        .nm-logo {
          height: 70px;
          width: 404px;
          img {
            width: 374px;
            height: 65px;
          }
        }
        .action_menu {
          height: 70px;
          width: 565px;
          padding: 7px 0 7px 0;
          justify-content: flex-end;
          .supportbtn,
          .contactbtn {
            display: block;
            font-size: 18px;
          }
          .searching {
            display: flex;
          }
          .search_btn {
            display: none;
          }
          .search_btn {
            border-radius: 3px;
            margin-left: 20px;
          }
        }
      }
    }
    .sub_menu {
      display: block;
      width: 100%;
      height: 99px;
      background-color: #333645;
      .sub_menu_btns {
        display: flex;
        width: 945px;
        margin: 0 auto;
        div[class*="_container"] {
          width: 157.56px;
          height: 99px;
        }
      }
    }
  }

  //service cards
  .info_bespoke,
  .info_it,
  .info_digital {
    width: 292px !important;
    height: 354px !important;
  }

  .info_bespoke {
    margin-right: 15px;
  }
  .info_it {
    margin: 0 15px;
  }
  .info_digital {
    margin-left: 15px;
  }

  .info_telecoms,
  .info_web,
  .info_cyber,
  .info_developer {
    width: 453px !important;
    height: 288px !important;
  }
  .info_telecoms,
  .info_cyber {
    margin-right: 15px;
  }
  .info_web,
  .info_developer {
    margin-left: 15px;
  }
}

@media only screen and (min-width: 1260px) {
  //service cards
  .info_bespoke,
  .info_it,
  .info_digital {
    width: 370px !important;
    height: 312px !important;
  }

  .info_telecoms,
  .info_web,
  .info_cyber,
  .info_developer {
    width: 270px !important;
    height: 342px !important;
  }

  .info_web {
    margin-right: 15px;
  }
  .info_cyber {
    margin-left: 15px;
  }
}

//service card colors
$service-colors: (
  //software
  "bespoke": #67809f,
  //it
  "it": #4083d7,
  //digital
  "digital": #2dcc71,
  //telecoms
  "telecoms": #d64541,
  //web
  "web": #926fb1,
  //security
  "cyber": #f62559,
  //developer
  "developer": #926fb1
);

//loop used for styling the service cards
//to use => @include service-card-set($colorName);
@mixin service-card-set($colorName) {
  $s-color: map-get($service-colors, #{$colorName});

  //CARD default state
  cursor: pointer;
  .icon {
    color: #fff;
    background-color: $s-color;
  }
  .readmore {
    background-color: $s-color;
  }

  //CARD hover state
  &:hover {
    background-color: $s-color;

    .readmore {
      color: $s-color;
      background-color: #fff;
    }
    h2,
    p {
      color: white;
    }
    .icon {
      color: $s-color;
      background-color: #fff;
    }
    .underline {
      background-color: #fff;
    }
  }
}
